{
  "interface_scale": {{ if eq .chezmoi.hostname "hex" }} 1.0 {{ else }} 1.25 {{ end }},
  "render_device_type": "{{ if eq .chezmoi.hostname "bursar" }}NONE{{ else }}OptiX{{ end }}",
  "theme": "Deep Grey",
  "input": {
    "select_mouse": "LEFT",
    "view_rotate_method": "TURNTABLE",
    "use_zoom_to_mouse": true,
    "use_rotate_around_active": true,
    "use_auto_perspective": true
  },
  "view": {
    "show_developer_ui": true,
    "show_tooltips_python": true
  },
  "edit": {
    "undo_steps": 64,
    "undo_memory_limit": 512
  },
  "system": {
    "memory_cache_limit": 8192
  },
  "experimental": {},
  "external_tools": {
    "text_editor": "/usr/bin/code"
  },
  "addon_preferences": {
    "node_wrangler": {}
  },
  "asset_libraries": [
    {
      "name": "Personal Assets",
      "path": "{{ .chezmoi.homeDir }}/blender-assets/"
    }
  ]
}
